<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35741415630-agko79pn3oihv5kmf4fofl5p0ph5bekj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35741415630-agko79pn3oihv5kmf4fofl5p0ph5bekj</string>
	<key>API_KEY</key>
	<string>AIzaSyDIXKSlNuEHAwUFNd4W_XStdiuTpo94dDU</string>
	<key>GCM_SENDER_ID</key>
	<string>35741415630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Matcha-only.Love-Map</string>
	<key>PROJECT_ID</key>
	<string>love-map-3c5bb</string>
	<key>STORAGE_BUCKET</key>
	<string>love-map-3c5bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35741415630:ios:6a1a57ff92cb6b02cb389f</string>
	<key>DATABASE_URL</key>
	<string>https://love-map-3c5bb-default-rtdb.firebaseio.com</string>
</dict>
</plist>